
h1 {
  color:grey;

  border: 40px solid #f2b818;
  padding: 5px;
  border-radius:8px; }

h2 {
  color: red;
  
}



.pix {
border-radius: 50%;
}

body  {
background:#b4cbd6 url("swing.jpg") no-repeat Right top; 
  
  }
