
h1 {
  color:grey;

  border: 40px solid #f2b818;
  padding: 5px;
  border-radius:8px; }

h2 {
  color: red;
  


}



.swing {
border-radius 50%;
s

}

body {

background-image:url("swing.jpg";
  
  }
